# common
*~
*.out
.idea
!.gitkeep

# build
bin/*
!bin/.gitkeep

# configs
.env*
!.env.example
!.env.test

*config.yml
*config.yaml
!example.config.yml
!example.config.yaml
!test.config.yml
!test.config.yaml

# observe
!loki-config.yaml
!promtail-config.yaml
